# Игнорируем зависимости, они будут установлены внутри контейнера
node_modules

# Игнорируем папку сборки, она будет создана внутри контейнера (для Nginx)
# или скопирована отдельно
dist

# Файлы конфигурации и окружения
.env
.DS_Store
.vscode/
.git/
README.md