:root {
    --text-primary: #1d1d1b;
    --text-secondary: #edeae4;

    --bg-primary: #edeae4;
    --bg-secondary: #1d1d1b;
    --bg-lang-buttons: #383b3b;
    --bg-feedback-form: rgb(29, 29, 27);
    --bg--stars: #a2a2a2;

    --placeholder-color: #9f9f9f;

    --feedback-low: #e85a5a;
    --feedback-normal: #efc140;
    --feedback-high: #5ed05e;

    --star-opacity-dim: 0.5;
    --star-opacity-bright: 1;

    --hover-lang-btn-color: #86a1b3;

    --header-click-color: #dd7e7e;
    --header-scrole-color: #82b579;
    --header-space-color: #8bb1ce;

    --font-primary: 'Century gothic';
    --font-secondary: 'Unbounded';
    --lang-btn-font: 'BBHSansBartle';
}
